body{
    background-color: rgb(57, 172, 153);
    text-align: center;
    height: 100vh;
}

.container{
    background-color:yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box1{
    background-color: aquamarine;
    top: 0%;
    margin: 0%;
    border: 2px solid green;
}

h2{
    color:whitesmoke;
}

.box2{
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box3{
    background-color: burlywood;
    display: flex;
    flex-grow: unset;
}

.box4{
    background-color: chocolate;
}

.container > div {
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

@media (max-width: 768px) {
   .container {
      flex-direction: column; 
   }
   .box2 {
      grid-template-columns: 1fr;
   }
}